/*======================================
=              MAIN SASS               =
======================================*/

@import './partials/navbar';
@import './partials/datatable';
@import './partials/upload';
@import './partials/home';

/*==========  GENERAL PURPOSE STYLING  ==========*/

body {
    padding-top: 65px;
}

.loading {
    img {
        display: block;
        margin: 25px auto;
    }
}